<div class="container-fluit">
    <div class="row mt-4">
        <div class="col-lg-5 col-md-2 ml-4 justify-content-center">
            <h1>{{poke.number}} - {{poke.name}}</h1>
            <img src="{{poke.ThumbnailImage}}" class="rounded-circle" alt="{{poke.ThumbnailAltText}}">
            <br>
                <button type="button" class="btn btn-outline-dark" (click)="addPoke()">
                    <i class="fas fa-heart"></i> 
                    Add to favorites
                </button>
        </div>
        <div class="col-lg-2 col-md-2 ml-4">
            <h2>Abilities</h2>
            <p *ngFor="let item of poke.abilities">{{item}}</p>

            <h2>Type</h2>
            <p *ngFor="let item of poke.type">{{item}}</p>
        </div>

        <div class="col-lg-2 col-md-2 ml-4">
            <h2>Weakness</h2>
            <p *ngFor="let item of poke.weakness">{{item}}</p>
        </div>
        <div class="col-lg-1 col-md-2 ml-4">
            <h2>Height</h2>
            <p>{{poke.height}} m</p>
            <h2>Weight</h2>
            <p>{{poke.weight}} kg</p>
        </div>
    </div>